/* html, body, #root, #root > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    } */
/* #root, #root > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
} */
:root {
    --clr-green: #34d399;
    --clr-violet: #7C3AED;
}
html, #root, main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    background: rgb(220, 241, 255);

}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    margin-top: auto;
}

main {
    width: 100%;
    margin: auto;
}
.logo {
    height: 32px;
    margin-left: 4px;
    margin-bottom: -2px;
    object-fit: contain;
}
.brand-title {
    letter-spacing: 2px;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.visually-hidden {
    display: none;
}

h1, h2, h3 {
    text-wrap: balance;
}



a:not(nav a, .go-back) {
    padding-bottom: 4px;
    border-bottom: 3px solid var(--clr-green);
    transition: all 0.3s ease;
}

a.border-0 {
    border-bottom: none !important;
}

a:hover:not(nav a, .go-back) {
    border-bottom: 3px solid var(--clr-violet);
}
