/* html, body, #root, #root > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    } */
/* #root, #root > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
} */

html, #root, main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;

}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    margin-top: auto;
}

main {
    width: 100%;
    margin: auto;
}
.logo {
    height: 32px;
    margin-left: 4px;
    margin-bottom: -2px;
    object-fit: contain;
}
.brand-title {
    letter-spacing: 2px;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}
