html, body, #root, #root > div {
  height: 100%;
}
#root, #root > div {
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
}
.logo {
  height: 32px;
  margin-left: 4px;
  margin-bottom: -2px;
  object-fit: contain;
}
.brand-title {
  letter-spacing: 2px;
}
